<tr>
  <td>
    Field:&#160;<input type="text" style="width:350px" class="<!--SUBJECT-->_keys" name="<!--SUBJECT-->[key][]" id="<!--SUBJECT-->[key][]" value="<!--FIELD_VALUE-->"/>
  </td>
  <td>
    Desc:&#160;<input type="text" style="width:350px" class="<!--SUBJECT-->_descriptions" name="<!--SUBJECT-->[description][]" id="<!--SUBJECT-->[description][]" value="<!--FIELD_DESC-->"/>
  </td>
  <td>
    <!--REMOVE_FIELD_BUTTON-->
  </td>
</tr>