<div id="advanced-search-container">
  <div class="widget-search-drilldown-close" onclick="<!--BUTTON_CLOSE-->">X</div>
  <ul class="advanced-search-container-inline" id="search_columns">
    <li>
      <!--RANSACK-->
    </li>
  </ul>
  <br/>
  <div style="text-align:right;width:100%;height:30px;" class="advanced-search-container-buttons"><!--BUTTON_RESET--><!--BUTTON_SEARCH--></div>
</div>